/* ================== Header ================== */
.header {
    background: url(../img/header/header-bg.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
/* Header top */
.header__top {
    margin-bottom: 80px;
    height: 104px;
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 117px;
}
.menu__items {
    display: flex;
}
.menu__item:not(:last-child) {
    margin-right: 21px;
}
.menu__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373; 

    transition: color .5s;
}
.menu__link:hover {
    color: #222222; 
}

.header__burger {
    display: none;
}

@media (max-width: 768px) {
    .header {
        background: none;
    }
    .header__inner {
        background: url(../img/header/header-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .header__top {
        height: 100px;
        padding: 36px 10px;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: max-content max-content;
        grid-row-gap: 40px;
        background: #F7F7F7;
        overflow: hidden;
        transition: height 0.5s;
    }
    .menu {
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: center;
    }
    .menu__items {
        flex-direction: column;
    }
    .menu__item {
        text-align: center;
    }
    .menu__item:not(:last-child) {
        margin: 0 0 30px 0;
    }
    .menu__link {
        font-size: 30px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.2px;
    }
    .header__burger {
        grid-row: 1;
        grid-column: 2;
        justify-self: end;
        display: inline-block;
    }
    .active {
        height: 400px;
    }
}

/* Header content */
.header__content {
    max-width: 510px;
    margin-bottom: 80px;
}
.header__title {
    margin-bottom: 35px;
}
.header__desc {
    margin: 0 auto;
    max-width: 375px;
    margin-bottom: 35px;
}
.header__btn {
    cursor: pointer;

    padding: 10px 36px;
    margin-right: 10px;

    border-radius: 37px;

    font-weight: 700;
    font-size: 14px;
    line-height: 200%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #00A0C1;
}
.header__btn.primery-color {
    background: #FFA62B;
    color: #FFFFFF;
}
.header__btn.primery-color-2 {
    border: 1px solid #00A0C1;
    box-sizing: border-box;
}

/* Header Features */
.header__features {
    display: flex;
}
.header__feature {
    padding: 35px 20px 35px 40px;
    width: 100%;

    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.header__feature >:not(:last-child) {
    margin-bottom: 10px;
}
.header__feature:not(:last-child) {
    margin-right: 30px;
}
.header__feature.primery-color {
    background: #00A0C1;
}
.header__feature-title.primery-color,
.header__feature-desc.primery-color {
    color: #fff;
}

@media (max-width: 1070px) {
    .header__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 10px;
    }
    .header__content {
        margin: 0;
    }
    .header__features {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .header__feature {
        padding: 10px;
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: max-content auto;
        grid-template-rows: repeat(2, max-content);
    }
    .header__feature:not(:last-child) {
        margin: 0;
    }
    .header__feature-img {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column: 1;
        align-self: center;
    }
}
@media (max-width: 768px) {
    .header__container {
        grid-template-columns: 1fr;
        grid-gap: 80px;
        background: url(../img/header/header-bg.jpg);
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        padding: 80px 10px 205px 10px;
    }
    .header__content {
        justify-self: center;
        text-align: center;
    }
    .header__btns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__btns >:not(:last-child) {
        margin-bottom: 25px;
    }
    .header__feature {
        max-width: 330px;
        padding: 35px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .header__feature:not(:last-child) {
        margin-bottom: 30px;
    }
    .header__feature-img {
        align-self: flex-start;
    }
}
/* ================== Features ================== */
.features {
    padding: 80px 0;
}
.features__titles {
    margin-bottom: 50px;
    text-align: center;
}
.feature__sub-title {
    margin: 0 auto;
    max-width: 510px;
}
.features__title {
    margin-bottom: 10px;
}
.features__cards {
    display: flex;
    justify-content: space-between;
}
.card {
    min-width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
}
.card >:not(:last-child) {
    margin-bottom: 10px;
}
@media (max-width: 1070px) {
    .features__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
    }
}
@media (max-width: 768px) {
    .features__cards {
        grid-template-columns: 1fr;
    }
}
/* ================== Practice Advice ================== */
.practice-advice {
    padding: 80px 0;
}
.practice-advice__titles {
    text-align: center;
    margin-bottom: 45px;
}
.practice-advice__title {
    margin-bottom: 10px;
}
.practice-advice__advices {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.practice-advice__advice {
    max-width: 230px;
    display: grid;
    grid-template-rows: 1fr max-content;
}
.practice-advice__advice-text {
    padding: 24px;
}
.practice-advice__advice-title {
    margin-bottom: 15px;
    color: #252B42;
}
.practice-advice__advice-img {
    width: 100%;
}
@media (max-width: 1070px) {
    .practice-advice__advices {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
        justify-self: center;
    }
    .practice-advice__advice {
        justify-self: center;
    }
}
@media (max-width: 768px) {
    .practice-advice__advices {
        grid-template-columns: 1fr;
    }
}
/* ================== About Us ================== */
.about-us {
    padding: 100px 0;
}
.about-us__titles {
    max-width: 511px;
    margin: 0 auto 100px auto;
    text-align: center;
}
.about-us__title {
    margin-bottom: 15px;
}
.about-us__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-us__content {
    max-width: 333px;
}
.about-us__content-title {
    margin-bottom: 10px;
}
.about-us__content-subtitle {
    margin-bottom: 50px;
}
.about-us__card {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, max-content);
}
.about-us__card:not(:last-child) {
    margin-bottom: 30px;
}
.about-us__card-logo {
    margin-right: 20px;
    grid-row-start: 1;
    grid-row-end: 3;
}
.about-us__card-title {
    color: #252B42;
    margin-bottom: 5px;
}
.about-us__card-desc {
    grid-column: 2;
}
@media (max-width: 1070px) {
    .about-us__inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-us__video {
        margin-bottom: 50px;
    }
    .about-us__video-img {
        width: 100%;
    }
}
/* ================== Clients ================== */
.clients {
    padding: 50px 0 20px 0;
    background: url(../img/clients/clients-bg.jpg) no-repeat;
    background-size: 100%;
    background-position: bottom center;
}
.clients__items {
    width: 100%;

    margin-bottom: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.clients__inner {
    padding: 20px 32px;
    max-width: 1065px;
    margin: 0 auto;
}
.clients__subscribe {
    padding: 30px 40px 30px 50px;

    grid-gap: 180px;
    display: grid;
    grid-template-columns: max-content 1fr;

    background: #16697A;
    border-radius: 2px;
}
.clients__title {
    max-width: 266px;
    color: #FFFFFF;
}
.clients__form {
    display: grid;
    grid-template-columns: 1fr max-content;
    border-radius: 5px;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    background: #F9F9F9;
}
.clients__tb {
    padding: 15px 20px;
    border: none;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.2px;
    outline: none;
}
.clients__btn {
    cursor: pointer;
    padding: 15px 22.5px;
    background: #FFA62B;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 200%;
    color: #fff;
}
@media (max-width: 1070px) {
    .clients {
        background: none;
        padding: 50px 0 0 0;
    }
    .clients__inner {
        padding: 0;
    }
    .clients__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 60px;
        justify-items: center;
    }
    .clients__subscribe {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
        padding: 38.5px 30px;
    }
    .clients__title {
        max-width: 100%;
        justify-self: center;
        text-align: center;
    }
}
@media (max-width: 768px) {
    .clients__items {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
@media (max-width: 425px) {
    .clients__items {
        grid-template-columns: repeat(1, 1fr);
    }
    .clients__title {
        max-width: 260px;
    }
    .clients__tb {
        padding: 15px 10px;
    }
    .clients__btn {
        padding: 5px 12.5px;
    }
    .clients__subscribe {
        padding: 10px;
    }
}
/* ================== Contacts ================== */
.contacts {
    padding: 80px 0;
}
.contacts__titles {
    text-align: center;
    margin-bottom: 80px;
}
.contacts__title {
    margin-bottom: 10px;
}
.contacts__sub-title {
    max-width: 470px;
    margin: 0 auto;
}
.contacts__items {
    display: flex;
    justify-content: center;
    align-self: center;
}
.contacts__item {
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contacts__item.primery-color {
    background: #252B42;
    color: #fff;
}
.contacts__item >:not(:last-child) {
    margin-bottom: 15px;
}
.contacts__item-mail {
    color: #252B42;
}
.contacts__item-mail.primery-color {
    color: #fff;
}
.contacts__item-support {
    color: #252B42;
}
.contacts__item-support.primery-color {
    color: #fff;
}
.contacts__item-submit {
    padding: 10px 20px;
    border: 1px solid #FFA62B;
    border-radius: 5px;

    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #FFA62B;
}
@media (max-width: 1070px) {
    .contacts__items {
        flex-direction: column;
        align-items: center;
    }
    .contacts__item {
        max-width: 330px;
    }
}
/* ================== Contact-us ================== */
.contact-us__inner {
    width: 100%;
    padding: 40px 40px 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}
.contact-us__title {
    margin-bottom: 10px;
}
.contact-us__button {
    max-height: 58px;
    justify-self: end;
    padding: 15px 40px;
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    background: #FFA62B;
    border-radius: 5px;

    font-weight: 700;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
@media (max-width: 768px) {
    .contact-us__sub-title {
        margin-bottom: 50px;
    }
    .contact-us__inner {
        padding: 20px;
        display: flex;
        flex-direction: column;
        max-width: 340px;
        margin: 0 auto;
    }
    .contact-us__button {
        max-width: 170px;
    }
}
/* ================== Footer ================== */
.footer {
}
.footer__top {
    padding: 50px 0;
    background: #16697A;
}
.footer__top-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
}
.footer__menu {
    width: 150px;
}
.footer__menu.footer_contacts {
    width: 320px;
}
.footer__menu-title {
    margin-bottom: 20px;
    color: #FFFFFF;
}
.footer__menu-list {
    display: flex;
    flex-direction: column;
}
.footer__menu-item:not(:last-child) {
    margin-bottom: 10px;
}
.footer__menu-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.footer__contacts {
    display: flex;
}
.footer__menu-logo {
    margin-right: 10px;
}
.footer__bottom-container {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
}
.footer__social {
    padding: 0 20px;
    display: flex;
}
.footer__social >:not(:last-child) {
    margin-right: 20px;
}
@media (max-width: 1070px) {
    .footer__top-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
    }
}
@media (max-width: 768px) {
    .footer__top-container {
        margin: 0 auto;
        width: max-content;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
    .footer__menu.footer_contacts {
        width: 240px;
    }
}

@media (max-width: 590px) {
    .footer__bottom-container {
        max-width: 235px;
        flex-direction: column;
    }
    .footer__bottom-title {
        margin-bottom: 50px;
    }
    .footer__social {
        padding: 0;
    }
}
